# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each day)
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
permissions:
  contents: read

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6 # latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - repo
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: SamErde
          template: classic
          base: header, activity, community, repositories, metadata
          config_display: columns
          config_timezone: America/New_York
          plugin_notable: yes
          #plugin_notable_filter: stars:>50
          plugin_notable_from: all
          plugin_notable_indepth: no
          plugin_notable_repositories: yes
          plugin_notable_types: pull_request,commit
