name: Update README with recent GitHub activity

on:
  schedule:
    - cron: '15 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write # To write the generated contents to the readme

jobs:
  update-activity:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Update recent GitHub activity
        uses: jamesgeorge007/github-activity-readme@7028164baaaf6eb83ff9e846f91cbc3add58aa09 # v0.4.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
